# loopback
auto lo
iface lo inet loopback

{% for interface in pve_netif_alias %}
{% if interface is string %}
auto {{ interface }}
iface {{ interface }} inet manual
{{''}}{% else %}
auto {{ interface.ifname }}
{% if interface.allow is defined %}
allow-{{ interface.allow }} {{ interface.ifname }}
{{''}}{% endif %}{{''}}
{% if interface.address is defined %}
iface {{ interface.ifname }} inet static
    address {{ interface.address }}{{''}}
{% if interface.gateway is defined %}
    gateway {{ interface.gateway }}
{{''}}{% endif %}
{% else %}
iface {{ interface.ifname }} inet manual
{{''}}{% endif %}
{% if interface.description is defined %}
# {{ interface.description }}
{% endif %}
{% endif %}
{% endfor %}

{% if pve_netif_bond is defined %}
{% for bond in pve_netif_bond %}
auto {{ bond.name }}
iface {{ bond.name }} inet static
    address {{ bond.address }}
{% if bond.interfaces is iterable and not bond.interfaces is string %}
    bond-slaves {{ " ".join(bond.interfaces) }}
{% else %}
    bond-slaves {{ bond.interfaces }}
{% endif %}
    bond-mode {{ bond.type | default("active-backup") }}
    bond-{{ bond.linkctrl | default("miimon 100") }}
{% if bond.type == "802.3ad" %}
    bond-xmit-hash-policy {{ bond.hash_policy | default("layer2") }}
    bond-lacp-rate {{ bond.lacp_rate | default("1") }}
{% endif %}
    mtu {{ bond.mtu | default("1500") }}
    # {{ bond.description | default("INSERT DESCRIPTION HERE") }}
{% endfor %}
{% endif %}{{''}}
{% if pve_netif_bridges is defined %}
{% for bridge in pve_netif_bridges %}
auto {{ bridge.name }}
{% if bridge.address is defined %}
iface {{ bridge.name }} inet static
    address {{ bridge.address }}
{% if bridge.gateway is defined %}
    gateway {{ bridge.gateway }}
{% endif %}
{% else %}
iface {{ bridge.name }} inet manual
{% endif %}
{% if bridge.interfaces is iterable and not bridge.interfaces is string %}
        bridge_ports {{ " ".join(bridge.interfaces) }}
{% else %}
        bridge_ports {{ bridge.interfaces }}
{% endif %}
        bridge_stp off
        bridge_fd 0
{% if bridge.vlans is defined %}
        bridge-vlan-aware yes
        bridge-vids {{ bridge.vlans }}
{% endif %}
{% if bridge.description is defined %}
# {{ bridge.description }}
{% endif %}
{% endfor %}
{% endif %}

# Add support for Proxmox SDN
source /etc/network/interfaces.d/*
