[Match]
{% if item.mac is defined %}
MACAddress={{ item.mac }}
{% endif %}
{% if item.driver is defined %}
Driver={{ item.driver }}
{% endif %}

[Link]
Name={{ item.ifname }}
MACAddressPolicy=persistent
